<h1>Enter a New Shelter</h1>
<form action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Name:</p>
  <input type='text' name='shelter[name]'/><br/>
  <p>Address:</p>
  <input type='text' name='shelter[address]'/><br/>
  <p>City:</p>
  <input type='text' name='shelter[city]'/><br/>
  <p>State:</p>
  <input type='text' name='shelter[state]' /><br/>
  <p>Zip code:</p>
  <input type='text' name='shelter[zip_code]' /><br/>
  <br>
  <input type='submit' value='Create Shelter'/>
</form>