<h1>Enter a Pet to the Shelter</h1>
<form action="/shelters/:shelter_id/pets" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Image URL:</p>
  <input type='text' name='pet[image]' /><br />
  <p>Name:</p>
  <input type='text' name='pet[name]' /><br />
  <p>Age:</p>
  <input type='text' name='pet[age]' /><br />
  <p>Sex:</p>
  <input type='text' name='pet[sex]' /><br />
  <input type="hidden" name='pet[shelter_id]' value=<%= params[:id] %>>
  <input type="hidden" name='pet[status]' value='adoptable'>
  <p>Description (animal type):</p>
  <input type='text' name='pet[description]' /><br />
  <br>
  <input type='submit' value='Create Pet' />
</form>